<header>
  <nav>
    <% if current_page?(root_path) || current_page?('/customers/') %>
      <%= link_to 'Alphabetized', '/customers/alphabetized' %>
      <%= link_to 'Missing Email', '/customers/missing_email' %>
    <% elsif current_page?('/customers/alphabetized') %>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Missing Email', '/customers/missing_email' %>
    <% elsif current_page?('/customers/missing_email') %>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Alphabetized', '/customers/alphabetized' %>
    <% end %>
  </nav>
</header>